DB_URI=mongodb+srv://jairmolina51:5I40AhOUBRbIw4ow@cluster0.au8nbpo.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=57BlocksAPI
MONGO_USER_SCHEMA=users
MONGO_SONG_SCHEMA=songs
EXPIRES_IN=60000